
*{
    padding: 0;
    box-sizing: border-box;  
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  
}

/*Header*/

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index:3;
    min-height: 100px;
    margin: 0;
	background-color:seashell;
	
}

#head {
    color: black;
    font-size: 2rem;
    float: left;
    font-family: sans-serif;
    font-weight: 300;
    margin-left: 2%;

}

#head span {
    color: red;
}

nav{
    float: right;  
    padding: 15px 15px;
}

nav li{
    display: inline;
    padding: 1.7rem;
    
}

nav li a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;
}

nav li a:hover{
    color: #c11325;  
}

nav li a .btn{
    background-color: #c11325;
    color: seashell;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;   

}

nav li a .btn:hover{
    color: gold;
}



/*Banner*/

.banner{
    position: relative; 
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    background: lightgrey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner:before{
    content: '';
    position: absolute;
    left: 1000px;
    width: 400px;
    height: 100%;
    background: red;
    transform-origin: top;
    transform: skewX(-30deg);
    
}

.banner .textBox{
    position: relative; right: 6%;
    max-width: 600px;
    z-index: 2;

}

.banner .textBox h2{
    font-weight: 500;
    color: black;
    font-size: 3em;
    
}

.banner .textBox p{
    color: black;
    font-size: 1.1em;
    margin: 5px 0 25px;
    font-weight: 200;
    
}


.banner .imgBox{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}

.banner .imgBox img{
    position: absolute; left: 18%;
    bottom: 0;
    height: 90%;
    padding-top: 40px;
    
}

/*Services section*/


.services .content{ 
 display: flex;
 background-color: seashell;
 padding:80px 0px;
}
.services .content .box{
	
	padding:15px;
}

.services .content .box .inner .img img{
	width: 100%;

}


.services .content .box .inner .text{
	padding:30px;
}

 .services .box .inner .text h4{
  font-size: 20px;
  margin:0;
  padding: 0px 0px 15px;
  font-weight: 700;
  color: darkslategray;
  text-transform: capitalize;
  text-align: center;
}
 .services .content .box .inner .text p{
	font-size: 15px;
	line-height:20px;
	color: darkslategray;
	text-align: center;
	margin:0;
	font-family:  sans-serif;
}

/*Price Section*/

.price {
    margin:  5rem 5rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
     
}

#price h2{
    font-size: 30px;
	font-weight: 500;
	color:#000000;
    margin-left: 40vw;
    padding: 30px;
}

.price .plan b{
    padding: 1rem;
    background-color: #c11325;
    color: seashell;
    border-radius: 10px;
    font-weight: 400;
}

.price .box h3{
    font-weight: 350;
    font-family: sans-serif;  
}

.price .box p{
    font-family: sans-serif;
    font-weight: 200;
}


.price .box{
    padding: 1rem;
    background-color:seashell;

}

.price .box .btn{
    background-color: #c11325;
    color: seashell;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: sans-serif;
    
}

.price .box .btn:hover{
    color:gold;
    font-size: 1rem;
}

/*Class Schedule Section*/
.schedule{
	padding:80px 0px;
    background-color: seashell;
}

.schedule .content{
	display: flex;
    
}

.schedule .content .box{
	flex:0 0 50%;
	max-width: 100%;
	padding:15px;
}

.schedule .content .text h2{
    font-size: 30px;
    font-weight: 500;
    color: #000000;
    padding: 0px 20px;
}


.schedule .content .timing .table{
	width: 100%;
	border-collapse: collapse;

    
}

.schedule .content .timing .table td{
	border:1px solid #dfdfdf;
	padding: 8px;
	font-size: 15px;
	text-align: center;
	color: slategray;
    font-weight: 500;
}

.schedule .content .timing .table tr:nth-child(even) td.day{
	background-color: #222222;
}
.schedule .content .timing .table tr:nth-child(odd) td.day{
	background-color: #444444;
}

.schedule .content .timing .table tr td.day{
	color:#ffffff;
	border-color:transparent;
}



/*Gallery Section*/

.gallery{
    padding: 30px;
}
.gallery .content{
	display: flex;
	flex-wrap: wrap;
}

.gallery h2{
    font-size: 30px;
    font-weight: 500;
    color: #111111;
    margin-left: 40vw;
}


.gallery .content .box{
	max-width: 50%;	
}
.gallery .content .box img{
	display: block;
	width: 100%;
    background-color: seashell;
    padding: 1rem;
	
}


/*Contact Section*/

.contact{
	margin: 0px;
	background-color: lightgrey;
}

.contact .content{
	-webkit-display: flex;
	display: flex;
}

.contact .content .c-box{
	flex:0 0 50%;
	max-width: 100%;
	padding: 15px;
}

.contact .content .c-box h2{
    font-size: 30px;
    font-weight: 500;
    color: #111;
    padding: 0px 0px 20px;
}

.contact .content .form input,
.contact .content .form textarea{
 height: 45px;
 width: 100%;
 padding:1rem;
 margin-bottom: 25px;
 background-color: transparent;
 border:1px solid darkslategray;
 font-family: sans-serif;
 color:darkslategray;
}
.contact .content .form input:focus,
.contact .content .form textarea:focus{
 outline: none;
 font-size: 15px;
}
.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder{
	color:black;
    font-size: 15px;
}
.contact .content .form textarea{
	height: 100px;

}

.contact .content .form button{
	outline: none;
	box-shadow: none;
	height: 45px;
	padding:0px 50px;
	border:1px solid transparent;
	background-color: #c11325;
	color:#ffffff;
	font-size: 15px;
	transition: all .5s ease;
	cursor: pointer;
}
.contact .content .form button:hover{
	
	color:gold; 
    border-color:#ffffff;
}

.contact .content .text h2{
	font-size: 30px;
    font-weight: 500;
    color: #c11325;
    padding: 0px 0px 20px;
    padding-left: 40px;
}

.contact .content .text .info p{
	display: block;
	margin-bottom: 15px;
	color: black;
	font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	padding-left: 40px;
	font-family: sans-serif;
}

.contact .content .text .info p i{
    display: inline-block;
    margin-right: 10px;
}

.contact .content .text .social {
	padding-top: 30px;
    padding-left: 40px;
    
}
.contact .content .text .social a{
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #c11325;
    text-decoration: none;	
    display: inline-block;
    margin-right: 10px;
    transition: all .5s ease;
    border:1px solid transparent;
} 

.contact .content .text .social a:hover{
	background-color: gold;
    border-color: #ffffff;
}

.contact .content .text .social a i {
	color:#ffffff;
	font-size: 20px;
}

.contact .content .times h3{
    padding-left: 40px;
    padding-top: 30px;
    font-weight: 800;
    
}

.contact .content .times p{
    padding-left: 40px;
}

/*Login Form*/

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color:seashell;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% , -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.loginbox .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid seashell;
    background: transparent;
    outline: none;
    height: 40px;
    color: seashell;
    font-size: 15px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: seashell;
    font-size: 20px;
    border-radius: 20px;
}


.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: gold;
    color: black;
}

.loginbox a{
    font-size: 15px;
    color: darkgray;
    text-decoration: none;
    line-height: 20px;
}

.loginbox a:hover{
    color: gold;
}

.home nav{
    float: left;
    padding: 15px 15px;
}

.home nav li{
    display: inline;
    padding: 1.7rem;
    
}

.home nav li a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 30px;
}

.home nav li a:hover{
    color: #c11325;  
}


/*Footer*/

footer{
    background-color: lightgray;
	padding-top: 100px;
	font-size: 15px;
}

/*Responsive*/

/*if screen width is less than or equal to 767px then*/
@media(max-width: 767px){

.services .content{
	flex-wrap: wrap;
}
.services .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}

.schedule .content{
	flex-wrap: wrap;
}
.schedule .content .box{
    flex: 0 0 100%;
    max-width: 100%;	
}

 .gallery .content{
  flex-wrap: wrap;
 }
.gallery .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.price .plan{
	flex-wrap: wrap;
}
.price .plan .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .content{
	flex-wrap: wrap;
}
.contact .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
}

/*if screen width is less than or equal to 550px then*/
@media(max-width: 550px){
  .banner h2{
      font-size: 30px;
  }
}







