@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    padding: 0;
    box-sizing: border-box;  
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  
}

header{
    min-height: 100px;
    margin: 0;
	background-color:seashell;
	
}

#head{
    color: black;
    font-size: 2rem;
    float: left;
    font-family: sans-serif;
    font-weight: 800;
    margin-left: 2%;

}

#head span{
    color: red;
}

nav{
    float: right;  
    padding: 15px 15px;

}

nav li{
    display: inline;
    padding: 1.7rem;
    
}

nav li a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;
}

nav li a:hover{
    color: #c11325;  
}

.banner{
    position: relative; 
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    background: lightgray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .textBox{
    position: relative; right: 6%;
    max-width: 600px;
    z-index: 2;

}

.banner .textBox h2{
    font-family: sans-serif;
    font-weight: 500;
    color: black;
    font-size: 4rem;
    
}

.banner .textBox a{
    position: relative; 
    display: inline-block;
    background: #c11325;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.banner .textBox a:hover{
    color: gold;
}


.banner .imgBox{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}

.banner .imgBox img{
    position: absolute; left: 50%;
    bottom: 0;
    height: 90%;
    
}


section{
    margin:  5rem 5rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;

}

h3{
    font-weight: 600;
    font-family: sans-serif;
    
}

b{
    padding: 1rem;
    background-color: #c11325;
    color: seashell;
    border-radius: 10px;
    font-weight: 400;
}


.box{
    padding: 1rem;
    background-color:seashell;
}



.btn{
    background-color: #c11325;
    color: seashell;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: sans-serif;
    
}

.btn:hover{
    color:gold;
    font-size: 1.2rem;
}


.contact{
	margin: 0px;
	background-color: lightgrey;
}

.contact .content{
	-webkit-display: flex;
	display: flex;
}

.contact .content .c-box{
	flex:0 0 50%;
	max-width: 100%;
	padding: 15px;
}

.contact .content .form input,
.contact .content .form textarea{
 height: 45px;
 width: 100%;
 padding:1rem;
 margin-bottom: 25px;
 background-color: transparent;
 border:1px solid darkslategray;
 font-family: sans-serif;
 color:darkslategray;
}
.contact .content .form input:focus,
.contact .content .form textarea:focus{
 outline: none;
 font-size: 15px;
}
.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder{
	color:black;
    font-size: 15px;
}
.contact .content .form textarea{
	height: 100px;

}

.contact .content .form button{
	outline: none;
	box-shadow: none;
	height: 45px;
	padding:0px 50px;
	border:1px solid transparent;
	background-color: #c11325;
	color:#ffffff;
	font-size: 15px;
	transition: all .5s ease;
	cursor: pointer;
}
.contact .content .form button:hover{
	
	color:gold; 
    border-color:#ffffff;
}

.contact .content .text h2{
	font-size: 30px;
    font-weight: 500;
    color: #c11325;
    padding: 0px 0px 20px;
}

.contact .content .text .info p{
	display: block;
	margin-bottom: 15px;
	color: black;
	font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	padding-left: 40px;
	font-family: sans-serif;
}

.contact .content .text .social {
	padding-top: 30px;
}
.contact .content .text .social a{
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #c11325;
    text-decoration: none;	
    display: inline-block;
    margin-right: 10px;
    transition: all .5s ease;
    border:1px solid transparent;
} 

.contact .content .text .social a:hover{
	background-color: gold;
    border-color: #ffffff;
}

.contact .content .text .social a i {
	color:#ffffff;
	font-size: 20px;
}

footer{
    background-color: lightgray;
	padding-top: 100px;
	font-size: 15px;
}

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}











